// Rubik Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$rubik-font-path: $font-path !default;

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url("#{$rubik-font-path}/rubik-light.woff2") format("woff2"), url("#{$rubik-font-path}/rubik-light.woff") format("woff"), url("#{$rubik-font-path}/rubik-light.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url("#{$rubik-font-path}/rubik-regular.woff2") format("woff2"), url("#{$rubik-font-path}/rubik-regular.woff") format("woff"), url("#{$rubik-font-path}/rubik-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local("Rubik Medium"), local("Rubik-Medium"), url("#{$rubik-font-path}/rubik-medium.woff2") format("woff2"), url("#{$rubik-font-path}/rubik-medium.woff") format("woff"), url("#{$rubik-font-path}/rubik-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"), url("#{$rubik-font-path}/rubik-bold.woff2") format("woff2"), url("#{$rubik-font-path}/rubik-bold.woff") format("woff"), url("#{$rubik-font-path}/rubik-bold.ttf") format("truetype");
}
